@font-face{
  font-family:"JoystixMonospace";
  src: url(joystixMonospace.ttf);
}

@font-face{
  font-family:"SourceCode-Light";
  src: url(SourceCodePro_FontsOnly-1.009/SourceCodePro-Light.ttf);
}

@font-face{
  font-family:"SourceCode-Semibold";
  src: url(SourceCodePro_FontsOnly-1.009/SourceCodePro-Semibold.ttf);
}

