$white: white;
$black: #30333A;
$beige: #EFE9E4;
$transparent-beige: rgba(240, 234, 229, 0.89);
$blue: #001AFF;
$red: #D94D49;
$grey: #C9C9C8;
$dark-grey: #9c9c9c;
$color: rgba(240, 234, 229, 0.5);
$color1: rgba(240, 234, 229, 0);