:root {
  // select
  --selected-background: #37414c;
  --selected-text: white;
  --selected-icon: #62B1B058;
  --selected-options-background: #37414c;
  --selected-options-text: white;
  --selected-options-border: 1px solid #1F1F24;
  --selected-options-shadow: 1px 1px 10 2px #62B1B029;
  --selected-options-highlight: #62B1B015;
}
